{% extends 'base.html.twig' %}

{% block main %}

    <main class="container home" id="homeImg">
    
        <h1>Nos spécialités du moment ! </h1>

        <div class="image">
            {% for home in homes %}
                <img src="assets/img/{{home.src}}" width="250px" title="{{home.title}}"/>
            {% endfor %}
        </div>

        <button href="" class="btn btn-primary">Réservez une table</button>

        <!--Horaires d'ouvertures-->
        <section class="ouverture col-md-4">
            <h2>Nos horaires d'ouvertures</h2>

            {% for schedule in schedules %}
                <div class="container">
                    <div>
                        <h3>{{schedule.day}}</h3>
                    </div>
                
        
                    <div class="heures">
                        <p>{{schedule.dayMorning}}</p>
                        <p>{{schedule.dayNight}}</p>
                    </div>
                </div>
            {% endfor %}
            

        </section>

    </main>  

{% endblock %}