{% extends 'base.html.twig' %}

{% block main %}

    <main class="container menu" id="menuImg">


        
        <h2>Titre du menu :{{menu.formule}} - {{menu.plat}}</h2>


            <div class="row">
                <div class="col-sm" style="width: 18rem;">
                    <h3>tire du plat : {{menu.title}}</h3>
                    <p>Description du plat : {{menu.description}}</p>
                    <p>prix du plat : {{menu.price}}€</p>
                </div> 
            </div>    



        <button href="{{ path('app_menu') }}" class="btn btn-primary">Retour au menu</button>

    </main>  

{% endblock %}

